{% extends '../index.html' %}


{% block navbar %}
<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        <ul id="nav" class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="/" class="collapsed" aria-label="Toggle navigation">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'shop' %}" class="collapsed" aria-label="Toggle navigation">Boutique</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'contact' %}" class="collapsed" aria-label="Toggle navigation">Contacts</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog' %}" class="active" aria-label="Toggle navigation">Blog</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'about' %}" class="collapsed" aria-label="Toggle navigation">A propos</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End Navbar -->
{% endblock navbar %}


{% block content %}
<!-- Start Single Blog -->
<section class="single-blog-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Main Blog Content -->
            <div class="col-lg-8">
                <div class="single-blog-content">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumb">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                        {% else %}
                        <img src="https://via.placeholder.com/800x500" alt="Blog Image" class="img-fluid">
                        {% endif %}
                    </div>
                    <!-- Blog Title -->
                    <h1 class="blog-title">{{ post.title }}</h1>
                    <!-- Blog Meta -->
                    <div class="blog-meta">
                        <span><i class="fas fa-user"></i> Par Admin</span>
                        <span><i class="fas fa-calendar"></i> {{ post.created_at|date:"d F Y" }}</span>
                        <span><i class="fas fa-tag"></i> {{ post.get_category_display }}</span>  <!-- Afficher la catégorie -->
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        {{ post.content|safe }}
                    </div>
                </div>
            </div>
            <!-- Sidebar (identique à celui de blog.html) -->
        </div>
    </div>
</section>
<!-- End Single Blog -->
{% endblock content %}